.l-index__about {
  p {
    width: 780px;
    margin: 30px auto 0;
    font-size: 18px;
    font-weight: 300;
    text-align: center;

    &:last-child {
      margin-bottom: 85px;
    }

    @include max-screen($breakpoint-mobile) {
      width: 100%;
      margin: 30px auto 0;
      font-size: 16px;

      &:last-child {
        margin-bottom: 70px;
      }
    }

    span {
      font-weight: 400;
      color: $color-primary;
    }
  }
}


.l-index__services {
  position: relative;

  .l-container {
    z-index: 2;

    &.is-active {
      .service__image {
        &:after {
          transform: scale(1);
        }
      }
    }
  }
}

.l-index__services-list {
  position: relative;
  margin: 120px 0 100px;

  @include max-screen($breakpoint-mobile) {
    margin: 30px 0 50px;
  }

   > li {
    width: 31.5%;

    @include max-screen($breakpoint-mobile) {
      width: 100%;
      margin-bottom: 25px;
    }

    &:first-child {
      .service__image::after {
        width: 111px;
        height: 98px;
        right: -6px;
        bottom: -6px;
        background-image: url(#{$path-image}/service-1.png);
        transition-delay: .2s;
      }
    }
    &:nth-child(2) {
      margin-top: -60px;

      @include max-screen($breakpoint-mobile) {
        margin-top: 0;
      }

      .service__image::after {
        width: 102px;
        height: 92px;
        right: -6px;
        bottom: -6px;
        background-image: url(#{$path-image}/service-2.png);
        transition-delay: .4s;
      }
    }
    &:last-child {
      .service__image::after {
        width: 110px;
        height: 95px;
        right: 2px;
        bottom: -15px;
        background-image: url(#{$path-image}/service-3.png);
        transition-delay: .6s;
      }
    }
  }
}

.l-index__services-overlay {
  width: 100%;
  height: 1065px;
  position: absolute;
  bottom: -750px;
  left: 0;
  background-color: #f7f7f7;

  @include max-screen($breakpoint-mobile) {
    bottom: -785px;
  }
}

.l-index__services-decor {
  display: block;
  width: 445px;
  height: 285px;
  position: absolute;
  background-image: url(#{$path-image}/dots.svg);
  background-repeat: no-repeat;
  background-size: cover;

  @include max-screen($breakpoint-mobile) {
    width: 40vw;
    height: 110px;
  }

  &.l-index__services-decor--left {
    z-index: 1;
    bottom: -150px;
    left: 0;

    @include max-screen($breakpoint-mobile) {
      z-index: 0;
      bottom: -100px;
    }
  }
  &.l-index__services-decor--right {
    top: -100px;
    right: 0;

    @include max-screen($breakpoint-mobile) {
      top: -60px;
    }
  }
}

.l-index__packages {
  position: relative;

  ul {
    width: 710px;
    margin: 60px auto 0;

    @include max-screen($breakpoint-mobile) {
      width: 100%;
      margin-top: 30px;
    }

     > li {
      margin-bottom: 20px;

      &:nth-child(2) {
        .package {
          background-color: $color-primary;

          .package__details {
            h4 {
              color: #000;
            }
          }
          .package__inclusions {
            color: #fff;
          }
        }
      }
    }
  }
}

.l-index__works {
  margin: 170px 0 70px;

  @include max-screen($breakpoint-mobile) {
    margin: 90px 0 40px;
    padding: 0 30px;
  }

  ul {
    margin-top: 85px;

    @include max-screen($breakpoint-mobile) {
      margin-top: 40px;
    }

    li {
      img {
        width: 390px;

        @include max-screen($breakpoint-mobile) {
          width: 100%;
        }
      }
    }

    .slick-dots {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      width: 190px;
      margin: 50px auto 0;
      list-style-type: none;

      @include max-screen($breakpoint-mobile) {
        margin-top: 30px;
      }

      li {
        width: 13px;
        height: 13px;
        margin-bottom: 0;
        cursor: pointer;
        border: 1px solid #000;
        border-radius: 50%;
        background-color: #fff;
        transition: all .25s ease-in-out;

        &.slick-active {
          width: 15px;
          height: 15px;
          border: none;
          background-color: $color-primary;
        }
      }
    }
  }

  .slick-list {
    padding: 0 6% 0 4%;

    @include max-screen($breakpoint-mobile) {
      padding: 0;
    }
  }
}

.l-index__reasons {
  position: relative;
  padding: 70px 0 230px;
  background-color: #000;

  @include max-screen($breakpoint-mobile) {
    padding: 70px 0 30px;
  }

  &:after {
    width: 25%;
    height: 215px;
    position: absolute;
    z-index: 1;
    right: 0;
    bottom: 0;
    content: '';
    background-color: #000;

    @include max-screen($breakpoint-mobile) {
      display: none;
    }
  }

  .l-container {
    &.is-active {
      .reason__image {
        &:after {
          transform: scale(1);

          @include max-screen($breakpoint-mobile) {
            transform: scale(.65);
          }
        }
      }
    }
  }

  .section-title {
    color: #c6c6c6;
  }

  ul {
    margin-top: 70px;

    @include max-screen($breakpoint-mobile) {
      margin-top: 40px;
    }

     > li {
      width: 27.2%;

      @include max-screen($breakpoint-mobile) {
        width: 100%;
        margin-bottom: 40px;
      }

      &:first-child {
        .reason__image::after {
          width: 143px;
          height: 168px;
          right: -2px;
          bottom: -4px;
          background-image: url(#{$path-image}/reason-1.png);
          transition-delay: .2s;

          @include max-screen($breakpoint-mobile) {
            right: 0;
          }
        }
      }
      &:nth-child(2) {
        .reason__image::after {
          width: 128px;
          height: 167px;
          right: 24px;
          bottom: -10px;
          background-image: url(#{$path-image}/reason-2.png);
          transition-delay: .4s;

          @include max-screen($breakpoint-mobile) {
            right: 17px;
          }
        }
      }
      &:last-child {
        .reason__image::after {
          width: 202px;
          height: 159px;
          right: -45px;
          bottom: -10px;
          background-image: url(#{$path-image}/reason-3.png);
          transition-delay: .6s;

          @include max-screen($breakpoint-mobile) {
            right: -27px;
            bottom: -7px;
          }
        }
      }
    }
  }
}

.l-index__contact {
  width: 633px;
  position: relative;
  margin: -120px auto 0;

  @include max-screen($breakpoint-mobile) {
    width: 100%;
    margin: 0 auto;
  }
}

.l-index__contact-decor {
  position: absolute;

  &.l-index__contact-decor--left {
    width: 46.6vw;
    height: 39.4vw;
    bottom: -30vw;
    left: -41vw;

    @include max-screen($breakpoint-mobile) {
      bottom: -56vw;
      left: -8vw;
    }

    svg {
      width: 100%;
      height: 100%;
    }
  }
  &.l-index__contact-decor--right {
    width: 38.9vw;
    height: 46.6vw;
    top: 0;
    right: -54vw;

    @include max-screen($breakpoint-mobile) {
      display: none;
    }

    svg {
      width: 100%;
      height: 100%;
      transform: rotate(90deg);
    }
  }
}
