.hero {
  justify-content: center;
  position: relative;
  margin: 120px 0 150px;

  @include max-screen($breakpoint-mobile) {
    margin: 90px 0 70px;
  }
}

.hero__left {
  width: 45%;
  height: 504px;
  position: relative;

  @include max-screen($breakpoint-mobile) {
    width: 100%;
    height: auto;
    z-index: 1;
  }

  img {
    position: absolute;
    z-index: 1;

    &:first-of-type {
      width: 15.6vw;
      z-index: 2;
      top: 16vw;
      left: 5.5vw;

      @include max-screen($breakpoint-mobile) {
        width: 32vw;
        top: 29vw;
        left: 24.5vw;
      }
    }
    &:last-of-type {
      width: 15.6vw;
      top: 10vw;
      left: -50px;

      @include max-screen($breakpoint-mobile) {
        width: 32vw;
        top: 13vw;
        left: 4vw;
      }
    }
  }
}

.hero__eyecatch {
  width: 25vw;
  height: 20.8vw;
  position: absolute;
  z-index: 2;
  top: 100px;
  left: 12vw;
  background-repeat: no-repeat;
  background-size: cover;

  @include max-screen($breakpoint-mobile) {
    width: 60.5vw;
    height: 50.5vw;
    top: 0;
    left: 36vw;
  }
}

.hero__right {
  width: 43%;
  position: relative;
  z-index: 1;

  @include max-screen($breakpoint-mobile) {
    width: 100%;
    margin-top: 40px;
    padding: 0 30px;
    text-align: center;
  }

  h2 {
    margin-bottom: 30px;
    font-size: 48px;
    font-weight: 500;
    letter-spacing: -.05em;
    color: #000;

    @include max-screen($breakpoint-mobile) {
      margin-bottom: 20px;
      font-size: 34px;
      line-height: 1.1;
    }
  }
  p {
    margin-bottom: 30px;
    font-size: 18px;
    font-weight: 300;

    @include max-screen($breakpoint-mobile) {
      margin-bottom: 20px;
      font-size: 16px;
    }

    &:last-of-type {
      @include max-screen($breakpoint-mobile) {
        margin-bottom: 40px;
      }
    }
  }
  .button {
    margin-top: 30px;
  }
}

.hero__decor {
  position: absolute;

  svg {
    width: 100%;
    height: 100%;
  }

  &.hero__decor--left {
    width: 29.7vw;
    height: 35.5vw;
    top: 60px;
    left: -9vw;

    svg {
      transform: rotate(90deg);
    }
  }
  &.hero__decor--right {
    width: 39vw;
    height: 46.5vw;
    top: -280px;
    right: -29vw;

    @include max-screen($breakpoint-mobile) {
      top: -55px;
      right: -25vw;
    }

    svg {
      transform: rotate(-90deg);
    }
  }
}
